<nav>
  <a href="#anchor1">linl1</a>
  <a href="#anchor2">linl2</a>
  <a href="#anchor3">linl3</a>
  <a href="#anchor4">linl4</a>
  <a href="#anchor5">linl5</a>
</nav>

<section>
  <div id='anchor1' class="color color1">THIS IS BLOCK1</div>
  <div id='anchor2' class="color color2">THIS IS BLOCK2</div>
  <div id='anchor3' class="color color3">THIS IS BLOCK3</div>
  <div id='anchor4' class="color color4">THIS IS BLOCK4</div>
  <div id='anchor5' class="color color5">THIS IS BLOCK5</div>
</section>

<button #top id="top" (click)="scrollToTop($event)">Top</button>
